<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Product Details</title>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <header class="bg-blue-600 p-4 text-white text-center">
      <h1 class="text-2xl">Product Details</h1>
    </header>
    <main class="p-8">
      <p class="text-xl font-semibold py-2">
        Here are the product details... ⬇
      </p>
      <form onsubmit="updateProduct(event)" class="mt-6">
        <label class="font-semibold" for="productName">Product Name</label>
        <input
          type="text"
          name="productName"
          id="productName"
          value="<%= product.productName %>"
          class="w-full block p-2 mb-4 mt-1 border rounded"
        />
        <label class="font-semibold" for="description">Description</label>
        <input
          type="text"
          name="description"
          id="description"
          value="<%= product.description %>"
          class="w-full block p-2 mb-4 mt-1 border rounded"
        />
        <label class="font-semibold" for="price">Price</label>
        <input
          type="number"
          name="price"
          id="price"
          value="<%= product.price %>"
          class="w-full block p-2 mb-4 mt-1 border rounded"
        />

        <div class="flex gap-6">
          <button
            type="submit"
            class="w-full font-semibold px-4 py-2 bg-blue-500 text-white rounded transition-colors duration-200 hover:bg-blue-600"
          >
            Update Product
          </button>
          <button
            type="button"
            onclick="deleteProduct()"
            class="w-full font-semibold px-4 py-2 bg-red-500 text-white rounded transition-colors duration-200 hover:bg-red-600"
          >
            Delete Product
          </button>
        </div>
      </form>
    </main>
  </body>
  <script>
    // Updating productProfile
    const updateProduct = async (event) => {
      event.preventDefault()

      const productName = document.querySelector("#productName").value
      const description = document.querySelector("#description").value
      const price = document.querySelector("#price").value

      const res = await fetch("/products/<%= product.id %>", {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ productName, description, price }),
      })

      if (res.redirected) {
        alert("Product profile updated successfully")
        location.href = res.url
      } else {
        alert("Failed to update product profile")
      }
    }

    // Deleting productProfile
    const deleteProduct = async () => {
      if (
        !confirm(
          "Are you sure you want to delete your product? This action cannot be undone."
        )
      ) {
        return
      }
      const res = await fetch("/products/<%= product.id %>", {
        method: "DELETE",
      })

      if (res.redirected) {
        alert("Product deleted successfully")
        location.href = res.url
      } else {
        alert("Failed to delete product")
      }
    }
  </script>
</html>
